<h1>Listing treatment_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @treatment_types.each do |treatment_type| %>
  <tr>
    <td><%= treatment_type.name %></td>
    <td><%= treatment_type.description %></td>
    <td><%= link_to 'Show', treatment_type %></td>
    <td><%= link_to 'Edit', edit_treatment_type_path(treatment_type) %></td>
    <td><%= link_to 'Destroy', treatment_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Treatment type', new_treatment_type_path %>
