<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @treatment_type.name %>
</p>

<p>
  <b>Description:</b>
  <%= @treatment_type.description %>
</p>


<%= link_to 'Edit', edit_treatment_type_path(@treatment_type) %> |
<%= link_to 'Back', treatment_types_path %>
