<div class="two columns">&nbsp;</div>
<div class="nine columns">
  <%= render :partial => "#{@inquiry.current_step}_copy" %>
  <div class="clear"></div>
  <%= simple_form_for(@inquiry) do |f| %>
    <%= f.error_notification %>

    <div class="inputs">
      <fieldset>
        <%= render "#{@inquiry.current_step}_step", :f => f %>
      </fieldset>
    </div>

    <div class="actions">
    <% if @inquiry.last_step? %>
      <%= f.submit "&lt; Back".html_safe, :name => "back_button" %>
      <%= f.submit 'Send' %>
    <% else %>
      <%= f.submit "&lt; Back".html_safe, :name => "back_button" %>
      <%= f.submit 'Next &gt;'.html_safe %>
    <% end %>
    </div>
    <% unless @inquiry.first_step? %>
      <% if @inquiry.last_step? %>
        <p></p>
      <% else %>
        <p>We found <%= @inquiry.num_results %> providers that match your needs. Answer the question above for more targeted results, or you can contact them now by clicking below</p>
        <%= f.submit "Get your results now", :name => "finish" %>
      <% end %>
    <% end %>
  <% end %>
</div>
<div class="one column">&nbsp;</div>
<div class="four columns">
  <div class="social">
    <p>Know someone who needs help?<br/>Spread the word about DrugKick!</p>
    <img src="/images/social.png"/>
  </div>
  <div class="providers">
    <p>&nbsp;</p>
    <p><strong>Treatment Providers</strong></p>
    <ul class="square">
      <li>Grow your network</li>
      <li>Connect with people in need</li>
      <li>Pre-qualified matches</li>
      <li>Manage your online profile</li>
    </ul>
    <a href="#" class="button">Contact us to join our network</a>
  </div>
</div>
<div class="clear"></div>